# SEO (optional)
NUXT_SITE_URL=https://foo.bar

# log drain services (optional)
NUXT_AXIOM_API_KEY=foobar
NUXT_POSTHOG_API_KEY=foobar

# analytics (optional)
NUXT_PUBLIC_SCRIPTS_POSTHOG_API_KEY=phc_foobar
NUXT_PUBLIC_SCRIPTS_PLAUSIBLE_ANALYTICS_SCRIPT_ID=foobar
